@font-face {
    font-family: 'Convergence';
    src: local('Convergence-Regular.ttf'),
         url('../font/Convergence-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #1c194e;
    height: 5rem;
    font-family: 'Convergence', sans-serif;
    margin-bottom: 3rem;
}
.header-logo img{
    top: -35px;
    left: 25px;
    position: absolute;
    height: 165px;
}

.header-text {
    position: absolute;
    padding-left: 13rem;
    font-size: 35px;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 9rem;
    font-size: 20px;
    background-color: #5dc08a;
    right: 0;
    height: 5rem;
}
.header-menu-open {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  top: 0.1rem;
  right: 0;
  cursor: pointer; 
  z-index: 1000;
  width: 11rem;
  background-color: #5dc08a;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}

.header-menu-open a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header-menu-open ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-open li {
  margin: 1rem 0;  
  width: 10rem;
}

.fa-2x {
  font-size: 2.1rem;
}

.header-menu img {
  transition: transform 0.3s ease;
}

.header-menu-open .rotate {
  animation: rotateIcon 0.3s forwards;
}

/* Pour les écrans larges */
@media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }
  
  /* Pour les tablettes */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Pour les mobiles */
  @media (max-width: 930px) {
    body {
      font-size: 12px;
    }
    .header-text p {
        display: none;
    }

    .header-menu p {
        display: none;
    }

    .header-menu {
        width: 4rem;
        padding-left: 1rem;
    }
  }

  /* Définition de l'animation de rotation */
@keyframes rotateIcon {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(90deg);
  }
}